<section class="content mt-5">
  <div class="container p-2">
    <div class="mt-5">
      <h4 class="title-content mt-5">découvrez nos produits les plus populaires</h4>
    </div>
    <div class="mt-4 p-1">
      <ul class="product-navigation">
        <li><a href="#" class="active-link">Toutes les Catégories</a></li>
        <li><a href="#" class="">Produit 2</a></li>
        <li><a href="#" class="">Produit 3</a></li>
        <!-- Ajoutez d'autres éléments <li> pour chaque catégorie de produit -->
      </ul>
    </div>
  </div>
</section>>

